._2e42{box-sizing:border-box}
._5f0d{display:inline-block;overflow:hidden;position:relative;vertical-align:text-bottom}._5i4g{display:block;height:100%;position:absolute;width:100%;z-index:0}._5i4g._5sjv{image-rendering:optimize-contrast;image-rendering:pixelated}._1qe-{display:table;height:100%;left:0;position:absolute;top:0;width:100%;z-index:2}._1qe_{display:table-row}._1qf0{display:table-cell;text-align:center;vertical-align:middle}._5lar{z-index:1}
._50hf{color:#7f7f7f}
.fbx #pageFooter{margin:auto;width:auto}.hasLeftCol #pageFooter{background-color:#fff;clear:both;margin-left:180px}#pagefooter{border-top:0}#pageFooter{color:#737373;margin:0 auto;width:980px}#pageFooter a{text-decoration:none;white-space:nowrap}#pageFooter a:last-child{margin-right:0}#pageFooter a:hover{text-decoration:underline}#pageFooter .copyright{font-size:11px}#pageFooter .pageFooterLinkList{line-height:1.6;margin-left:-20px}#contentCurve{border-bottom:1px solid #dddfe2;font-size:1px;height:8px;margin-bottom:8px}.hasLeftCol #contentCurve{border:1px solid #ccc;border-top:none;position:relative}
._3qn5._54nq{min-width:148px}._3qn5 ._54nf>._54ni{background-color:#fff}._3_tn>._54nc,._3qn5._54nq ._54ni ._54nc{line-height:normal;padding-bottom:5px;padding-top:5px}._34kz{color:#616770}._54ni._54ne ._34kz{color:#fff}._29kr{background:none;border:none;font-weight:normal;padding:2px 0}._43hy{display:none}
._sv8{line-height:24px}
.localeSelectorList a.showMore{background-color:#e9ebee;padding:0 6px 2px}.localeSelectorList a.showMore:hover{background-color:#6d84b4;color:#fff;text-decoration:none}
._542d{float:right}._542d{clear:both;margin:0 5px 10px 0}.fbChatConvItem:last-child ._542d{margin-bottom:0}._542d .img{margin:0 3px 0 7px}._55r6{color:#90949c;margin-left:1px}._55r7{color:#bf0000;font-weight:500}._55r6,._55r7,._542d .img{display:inline-block;vertical-align:middle}._55q-{cursor:pointer}
._3dg{background:#fff;background:rgba(255, 255, 255, .6);bottom:0;height:100%;left:0;position:absolute;right:0;top:0;width:100%;z-index:100}._4t2a ._3dg{border-radius:3px}._51l0 ._4t2a ._3dg{border-radius:6px}._3df{bottom:0;height:24px;left:0;margin:auto;position:absolute;right:0;text-align:center;top:0;width:24px;z-index:101}
._460z{background-color:#3578e5;color:#fff}._460z ._460-{float:left;margin:15px 0 0 12px}._460z ._460_{margin:0 60px 0 44px;padding:16px 0}._460z ._4610{font-size:14px;font-weight:bold}._460z ._35ti{font-size:12px;padding-top:4px}._460z ._4611{font-size:12px;padding-top:6px}._460z ._4612{color:#fff;font-weight:bold}._460z ._4613{color:#fff;float:right;margin:12px 12px 0 0}._4614{height:30px}._4614 ._4615{float:right;padding-right:8px}._4614 ._460-{margin:2px 5px 0 0}._4614 ._4611{color:#3578e5;font-weight:bold;line-height:25px}._4614 ._35tj{color:#3b5998;font-weight:bold;line-height:25px}._4616{display:inline-block;float:left;margin-right:8px}._4616 ._460-{margin:3px 8px 0 0}._4616 ._4611{color:#3578e5;margin:2px 0 -2px 0}
._5ss6 #contentArea #stream_pagelet{border-top:1px solid #ccc}._5vb_ ._5ss6 #contentArea #stream_pagelet{border-top:0}._5ss6 ._5uun{border-bottom-width:0}._5ss6 ._5v3q{border-width:1px}._2yq ._5ss6 ._5v3q{border-left:0;border-right:0}._3og5 ._5ss6 ._5v3q{margin-bottom:88px}._3og5 ._5ss6 ._3z-f ._5v3q{margin-bottom:10px}._3og5 ._5ss6 ._3z-f.__b4 ._5v3q{margin-bottom:24px}._3og5 ._5ss6 ._era ._5v3q{margin-bottom:12px}._3og5 ._5ss6 ._4gv-{position:relative;top:-78px}._5wel #globalContainer{width:800px}._5wel #contentCol{margin-left:0}._5wel #pageFooter{margin-left:0}._5wel #leftCol{padding:0}
._561s{line-height:13px;margin-top:2px}._53ee{margin-top:-5px}._53ee._5vlm{border-bottom:1px solid #e9e9e9}._6nw ._53ee{margin-top:0}html ._58op{padding:0 4px}._54bc{display:inline-block}._5cl-{overflow:hidden}html ._54bc .img{margin-left:5px;position:relative;top:-1px;vertical-align:middle}._569r ._54bc{visibility:hidden}._569r:hover ._54bc{visibility:visible}
._2cpc{display:block;position:relative}._2cpc::after{border:1px solid rgba(0, 0, 0, .1);box-sizing:border-box;content:'';display:block;height:100%;left:0;position:absolute;top:0;width:100%}._2cpc img,._2cpc .img{height:100%;width:100%}
._5qla{margin-top:3px;vertical-align:top}
._495i{padding:11px 10px 10px}
._52ju{text-align:left}._52jv{text-align:center}._52jw{text-align:right}

.uiSelector{max-width:200px;vertical-align:top}.uiSelector .wrap{position:relative}.uiSelector select,.uiSelector .submitButton,.no_js form .uiSelectorButton{display:none}.no_js form .uiSelector select,.no_js form .uiSelector .submitButton{display:inline}.uiSelector .uiButton,.uiSelector .uiButton:active,.uiSelector .uiButton:focus,.uiSelector .uiButton:hover{background-image:none}.uiSelector .uiSelectorButton{vertical-align:top}.uiSelector .uiSelectorButton:active{background-color:#dadde1}.uiSelector .openToggler .uiSelectorButton,.uiSelector .openToggler .uiSelectorButton:active,.uiSelector .openToggler .uiSelectorButton:focus,.uiSelector .openToggler .uiSelectorButton:hover{background-clip:border-box;background-color:#4267b2;border:1px solid #4267b2}.uiSelector .openToggler .uiSelectorButton:hover{background-color:#365899;border-color:#365899}.uiSelector .openToggler .uiSelectorButton:active{background-color:#29487d;border-color:#29487d}.uiSelectorNormal .uiSelectorChevronOnly,.uiSelectorNormal .uiSelectorChevronOnly:active,.uiSelectorNormal .uiSelectorChevronOnly:focus,.uiSelectorNormal .uiSelectorChevronOnly:hover{height:20px;padding:0}.uiSelectorNormal .uiSelectorButton,.uiSelectorNormal .uiSelectorButton:active,.uiSelectorNormal .uiSelectorButton:focus,.uiSelectorNormal .uiSelectorButton:hover,.uiSelectorNormal .uiButtonSuppressed:active,.uiSelectorNormal .uiButtonSuppressed:focus,.uiSelectorNormal .uiButtonSuppressed:hover{background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/AlNGhXJa_9a.png);background-repeat:no-repeat;background-size:auto;background-position:right -147px;max-width:169px;padding-right:23px}.uiSelectorNormal .uiButtonDisabled,.uiSelectorNormal a.uiButtonDisabled:active,.uiSelectorNormal a.uiButtonDisabled:focus,.uiSelectorNormal a.uiButtonDisabled:hover{background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/AlNGhXJa_9a.png);background-repeat:no-repeat;background-size:auto;background-position:right -49px}.uiSelectorNormal .uiButtonSuppressed.uiButtonDisabled{background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/AlNGhXJa_9a.png);background-repeat:no-repeat;background-size:auto;background-position:right -196px}.uiSelectorNormal .uiButtonOverlay,.uiSelectorNormal .uiButtonOverlay:active,.uiSelectorNormal .uiButtonOverlay:focus,.uiSelectorNormal .uiButtonOverlay:hover,.uiSelectorNormal .uiSelectorButton:active,.uiSelectorNormal .uiButtonSuppressed{background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/AlNGhXJa_9a.png);background-repeat:no-repeat;background-size:auto;background-position:right -147px}.highContrast .uiSelectorButton::after{content:'\0020 \25BC'}.uiSelectorNormal .openToggler .uiSelectorButton,.uiSelectorNormal .openToggler .uiSelectorButton:active,.uiSelectorNormal .openToggler .uiSelectorButton:focus,.uiSelectorNormal .openToggler .uiSelectorButton:hover,.uiSelectorNormal .openToggler .uiButtonSuppressed,.uiSelectorNormal .openToggler .uiButtonSuppressed:active,.uiSelectorNormal .openToggler .uiButtonSuppressed:focus,.uiSelectorNormal .openToggler .uiButtonSuppressed:hover{background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/AlNGhXJa_9a.png);background-repeat:no-repeat;background-size:auto;background-position:right -97px}.uiSelectorNormal .uiSelectorButton .uiButtonText{max-width:169px;overflow:hidden;text-overflow:ellipsis;vertical-align:top}.uiSelectorNormal .openToggler .uiSelectorButton .uiButtonText{color:#fff}.uiSelectorMenuWrapper{bottom:auto;left:0;margin:-1px 0 30px;max-width:340px;min-width:100%;position:absolute;right:auto;top:100%;z-index:-1}.uiSelectorRight .uiSelectorMenuWrapper{left:auto;right:0}.uiSelectorMenuWrapper .loading{padding:5px 20px}.uiSelectorMenuWrapper .loading span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/GsNJNwuI-UM.gif) no-repeat 0 0;display:inline-block;height:11px;margin:0 auto;width:16px}.uiSelector .uiMenu{border:1px solid #777;border-bottom:2px solid #293e6a}.uiSelectorContextualLayer .uiSelector{margin:0;max-width:none;position:relative}.uiSelectorContextualLayer .uiContextualLayerAboveLeft .uiSelector,.uiSelectorContextualLayer .uiContextualLayerAboveRight .uiSelector{top:2px}.uiSelectorContextualLayer .uiContextualLayerBelowLeft .uiSelector,.uiSelectorContextualLayer .uiContextualLayerBelowRight .uiSelector{top:-1px}.uiSelectorContextualLayer .uiSelectorMenuWrapper{position:static;margin:0;min-width:auto}.uiSelectorContextualLayer .uiSelector .uiSelectorButton{position:absolute}.uiSelectorContextualLayer .uiContextualLayerAboveLeft .uiSelector .uiSelectorButton,.uiSelectorContextualLayer .uiContextualLayerAboveRight .uiSelector .uiSelectorButton{border:1px solid #365899;border-top-color:#4267b2;margin-top:-2px;top:100%}.uiSelectorContextualLayer .uiContextualLayerBelowLeft .uiSelector .uiSelectorButton,.uiSelectorContextualLayer .uiContextualLayerBelowRight .uiSelector .uiSelectorButton{bottom:100%;margin-bottom:-1px}.uiSelectorContextualLayer .uiContextualLayerAboveLeft .uiSelector .uiSelectorButton,.uiSelectorContextualLayer .uiContextualLayerBelowLeft .uiSelector .uiSelectorButton{left:0}.uiSelectorContextualLayer .uiContextualLayerAboveRight .uiSelector .uiSelectorButton,.uiSelectorContextualLayer .uiContextualLayerBelowRight .uiSelector .uiSelectorButton{right:0}
.uiStickyPlaceholderInput{display:inline-block;position:relative}.uiStickyPlaceholderInput input,.uiStickyPlaceholderInput textarea{background-color:transparent;position:relative}.uiStickyPlaceholderInput .placeholder{color:#999;cursor:text;display:none;height:100%;left:0;padding:4px 0 0 5px;position:absolute;top:0;width:100%}.uiTypeahead .uiStickyPlaceholderInput .placeholder{padding:3px 0 0 4px}div.uiStickyPlaceholderTextarea .placeholder{padding:6px 0 0 6px}div.uiStickyPlaceholderEmptyInput .placeholder{display:block}.uiTypeahead .uiStickyPlaceholderInput{width:100%}.uiClearableTypeahead .selected .uiStickyPlaceholderInput{margin-right:16px}
._pts{position:relative}.uiContextualLayer ._ptt{position:absolute;top:0}._pts ._ptt{position:static;top:auto}.uiContextualLayer ._4-th{bottom:0;position:absolute}._pts ._4-th{bottom:auto;position:static}
.uiHelpLink{background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/HfEmpna1ymM.png);background-repeat:no-repeat;background-size:auto;background-position:-117px -360px;display:inline-block;height:11px;position:relative;top:1px;width:12px}.uiHelpLink .right{left:auto;right:-4px}
.uiMorePager .uiMorePagerPrimary{display:block;padding:10px 15px}.uiMorePager .uiMorePagerPrimary:hover{background-color:#c4d2e7}.uiMorePager .uiMorePagerSecondary{margin:10px 15px}.uiMorePager .arrow{display:inline-block;vertical-align:top}.uiMorePager .uiMorePagerLoader{display:none;padding:11px 15px 9px;text-align:center}.async_saving .uiMorePagerLoader{display:block}.async_saving .uiMorePagerPrimary,.async_saving .uiMorePagerSecondary{display:none}
.uiTypeahead{background:#fff;border:solid #bdc7d8;border-width:1px 0;cursor:default;position:relative}.uiTypeahead .wrap{border:solid #bdc7d8;border-width:0 1px}.uiTypeahead .innerWrap{overflow:hidden;zoom:1}.uiTypeahead .textInput{background-color:transparent;border:0;box-sizing:border-box;outline:0;width:100%}.uiTypeahead input::-ms-clear{display:none}.uiTypeahead .selected{background-color:#e2e8f6}.uiTypeaheadDisabled,.uiTypeaheadDisabled div.wrap{border-color:#ccc}.uiTypeaheadDisabled div.wrap{background:#e5e5e5}.uiTypeaheadDisabled div.wrap .textInput{color:#333}
.uiTypeaheadView{display:block;left:0;position:absolute;top:100%;width:100%}.uiContextualTypeaheadView{position:static}.uiTypeaheadView ul{background:#fff;border:solid;border-width:1px 1px 2px;border-color:#333333 #333 #293e6a;overflow:hidden;padding:2px 0}.uiTypeaheadView .freeform{border-top-color:#dddfe2;padding:2px 6px 1px;text-align:center}.uiTypeaheadView .typeaheadViewHidden{height:0;overflow:hidden}.uiTypeaheadView li{border:solid #fff;border-width:1px 0;color:#333;cursor:pointer;display:block;min-height:1px;padding:0 6px;position:relative}.uiTypeaheadView strong{background-color:#c4d2e7;color:#365899}div.uiTypeaheadView .selected{background-color:#4267b2;border-color:#365899}.highContrast div.uiTypeaheadView .selected{border-right-width:10px}.uiTypeaheadView .selected,.uiTypeaheadView .selected a,.uiTypeaheadView .selected div,.uiTypeaheadView .selected span{color:#ffffff !important}.uiTypeaheadView .selected strong{background-color:#5670a6}.uiTypeaheadView .text,.uiTypeaheadView .subtext,.uiTypeaheadView .category{display:block;overflow:hidden;padding-bottom:2px;text-overflow:ellipsis;white-space:nowrap}.uiTypeaheadView .category{color:#666}.uiTypeaheadView .subtext{color:#999}.uiTypeaheadView .saved{background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/eG8bPcaMMzQ.png);background-repeat:no-repeat;background-size:auto;background-position:-17px -623px;color:#0c5eff;padding-left:12px}.uiTypeaheadView .selected .saved{background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/eG8bPcaMMzQ.png);background-repeat:no-repeat;background-size:auto;background-position:-17px -612px}.uiTypeaheadView .arrow{background:transparent url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/unHwF9CkMyM.png) 0 -413px;display:inline-block;height:7px;margin-left:4px;width:4px}.uiTypeaheadView .selected .arrow{background-position:0 -420px}div.uiTypeaheadView li.calltoaction,div.uiTypeaheadView li.browseUpsell,div.uiTypeaheadView li.calltoactionV2{background:#f5f6f7;border-bottom:none;border-color:#dddfe2;display:block;margin:2px 0 -2px;min-height:1px;padding:8px}div.uiTypeaheadView li.calltoactionV2{background:#fff;border:solid #f5f6f7;border-width:8px 0 2px 0;padding:12px 12px 12px 48px}.uiTypeaheadView li.disabled{color:#999}div.uiTypeaheadView li.calltoaction{text-align:center}div.uiTypeaheadView li.calltoactionV2{text-align:left}div.uiTypeaheadView li.browseMore{background:#fff}div.uiTypeaheadView li.browseUpsell{cursor:default}.uiTypeaheadView.typeaheadViewLoading li.browseUpsell{display:none}div.uiTypeaheadView .browseSuccess .browseSignup,div.uiTypeaheadView .browseJoined{display:none}div.uiTypeaheadView .browseSignup,div.uiTypeaheadView .browseSuccess .browseJoined{display:inherit}div.uiTypeaheadView li.calltoaction.selected,div.uiTypeaheadView li.calltoactionV2.selected{background-color:#4267b2}div.uiTypeaheadView li.calltoaction.selected{border-color:#365899}div.typeaheadViewLoading li.calltoaction,div.typeaheadViewLoading li.calltoactionV2{background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/GsNJNwuI-UM.gif);background-position:90% 50%;background-repeat:no-repeat}div.typeaheadViewLoading li.calltoaction.selected,div.typeaheadViewLoading li.calltoactionV2.selected{background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/y-/r/AGUNXgX_Wx3.gif)}.uiTypeaheadView li.typeaheadViewInternalLoading{cursor:default;padding:10px 0;text-align:center}
.uiTypeaheadView .basic img{display:block;float:left;padding-right:4px}div.uiTypeaheadView .basic .calltoaction{padding:3px}.uiTypeaheadView .basic .debugInfo{float:right;text-align:right}
._51xa{display:inline-block;vertical-align:middle;white-space:nowrap}._51xb{box-shadow:0 0 6px rgba(0, 0, 0, .6)}._3y89{border:1px solid #666;border:1px solid rgba(0, 0, 0, .4);border-radius:2px}._6fcr{float:left}
.uiSimpleScrollingLoadingIndicator{display:none;margin:auto}.async_saving .uiSimpleScrollingLoadingIndicator{display:block}
._1lty,._1lty ._4f7k,._1lty ._4f7k div[tabindex],._1lty ._4f7k span[tabindex],._1lty ._4f7k img[tabindex],._1lty ._4f7k a[href],._1lty ._4f7k button,._1lty ._4f7k input,._1lty ._4f7k select,._1lty ._4f7k textarea{box-shadow:none;outline:none}

._271k{background-position:0 0;border:1px solid;border-radius:2px;box-shadow:none;box-sizing:border-box;cursor:pointer;font-weight:bold;padding:0;position:relative;text-shadow:none;transition:all 300ms cubic-bezier(.1, .7, .1, 1), border-width 1ms;vertical-align:middle}._6uvr{flex:1 1 auto}._1gwm{display:inline-flex}._1gwm:hover{text-decoration:none}._271n{cursor:default}._43rl{align-items:center;display:flex;justify-content:center;width:100%}._271m{max-width:242px}._271l ._271o{flex-shrink:0;margin-left:-2px}._43rm{flex-basis:auto;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}._46ce{flex:1 1 auto}._1o4e{padding:0}._1o4e ._271o{margin:0}._1qjd{outline:0}
._1vvf{margin:3px}
.textMetrics{border:none;height:1px;overflow:hidden;padding:0;position:absolute;top:-9999999px}.textMetricsInline{white-space:pre}

#bootloader_rp_Hx{height:42px;}.bootloader_rp_Hx{display:block!important;}