._6w66{margin-left:15px}._6w67{vertical-align:bottom}._6w68{margin-bottom:10px}
._30q-{background-size:cover;padding-bottom:37%;width:100%}
._hii ._30q-{border-color:#dddfe2;border-radius:3px;border-width:1px;padding-bottom:55%;position:relative}._hij{background-color:#fff;padding:16px}._hik{color:#444950;line-height:20px;word-wrap:break-word}._hil,._hil a,._hil a:hover{color:#444950;line-height:20px;margin-bottom:12px}._him{padding-right:20%}._hin{padding-left:20%}._hip{background:linear-gradient( to bottom, rgba(255, 255, 255, .15) 0%, rgba(0, 0, 0, .8) 100% );bottom:0;height:35%;position:absolute;width:100%}._hiq{bottom:9px;color:#fff;line-height:16px;padding:12px 12px 0 12px;position:absolute;size:11px}._hir{border-color:#dddfe2;border-radius:3px;border-width:1px;position:relative}._hj0{background-color:#bec3c9;height:150px}._hj1{background-color:#e9ebee;height:150px}._hj2{padding-top:60px;text-align:center}._hj3{color:#365899;cursor:pointer;margin-top:12px}._hj4{bottom:0;left:0;position:absolute;right:0;top:0}
._1q7f{padding-top:4px}
._1y-9{padding-bottom:6px}._1y-a{padding-bottom:6px;padding-top:6px}
._4yrz{text-align:center}._4yr-{color:#1d2129}._dw8{margin-bottom:12px}._dw8 ._dw9{border-top:0}._dwa{padding-right:12px;padding-top:6px}
._4-lt{padding:12px}._4-lu{color:#000;display:inline-block;font-size:13px;font-weight:600;max-width:237px}._4-lv{margin-left:5px}._3520{vertical-align:middle}._3521{left:-2px;position:relative}._4-lt ._4-lu{max-width:100%}._d2d ._4-lu{max-width:89%;vertical-align:middle}
._g3h{border-bottom:1px solid #dddfe2;line-height:16px;padding:10px;position:relative}._g3i span._38my{color:#4b4f56;text-transform:capitalize}._1uhc,._g3i{font-size:12px}._g3j{bottom:0;left:0;position:absolute;right:0;top:0}._1uhd{overflow:hidden}._g3k{border-radius:2px;height:16px;opacity:0;text-align:center;width:16px}._g3h .openToggler ._g3l{display:none}._g3l,._g3m{margin:2px 0}._g3h .openToggler ._g3m{display:inline-block}._g3h ._g3m{display:none}._g3h:hover ._g3k{opacity:1}._g3h .openToggler ._g3k{background-color:#3b5998;opacity:1}._g3h ._1uhg{float:right;margin-top:2px}._g3h ._g3o{float:right;position:relative}
._5ay5{margin-bottom:12px}._5ay5:empty{display:none}._5ay5._2h4v{margin-bottom:0}._5ay5._137a{position:relative}
._5bl1{position:relative}._4y52{pointer-events:none}._5bld>img,._5bld,._5blf{display:inline-block}
._4nq6{font-size:12px;line-height:16px;padding:8px 12px}._4nq7+._4nq6,._4nq7+._44ga+._4nq6,._4nq9+._4nq6,._4nq9+._44ga+._4nq6{margin-top:4px}._4nq6:last-child{margin-bottom:4px}._44ga{background-color:#dddfe2;content:'';display:block;height:1px;margin:4px 12px}._2j1q{background-color:#dddfe2;content:'';display:block;height:1px;margin:4px 0}._4nq7+._44ga,._4nq9+._44ga{display:none}._d5u{height:16px;width:16px}._d5u>.img{margin-left:2px;margin-top:2px}
._68sv{font-family:'ArialMT';font-size:12px;line-height:14px;padding:8px 0 8px 11px}._68sw{color:#444950}
._1c02{padding:12px}._1c02 h1{font-weight:normal}._1c02:first-child{margin-top:0}._1c03{font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:18px}._v6p{margin-top:8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}._3koq ._405z{color:#4267b2;font-size:14px;padding-top:10px}._1odw{color:inherit;text-decoration:none}._1odw:hover{color:inherit;text-decoration:none}._1c00{font-size:12px;line-height:16px;vertical-align:middle}._2q9t{color:#ff9416;font-size:12px;line-height:16px;margin-top:4px}._331d{color:#3b5998;font-size:14px;margin-right:4px}._1gj_{margin-right:12px}._1gk0{color:#3578e5;font-size:14px;line-height:16px}._1gj-{align-items:flex-end;display:flex}
._drp{height:36px}
._35sm ._4-lt{border-color:#d9d9d9;padding:10px 0}._35sm ._4-lu{color:#3b5998;font-size:12px;font-weight:600}._35sm ._d2d ._4-lu{max-width:88%}._35sm ._4-lv{margin-left:5px}._35sm ul{padding:0 10px}
._2vxa{direction:ltr;text-align:left}._2vxb{direction:rtl;text-align:right}._y22{direction:rtl}._y23{direction:ltr}._4vpt{text-align:left}._4vpu{text-align:center}._4vq4{text-align:right}
._2v_5{display:flex;margin:12px}._3td8{display:inline-flex;order:0}._3td9{border:2px white solid;border-radius:50%;display:inline;height:28px;position:relative;width:28px}._3tdb{left:-10px;z-index:2}._3tdc{left:-20px;z-index:1}._2w09{align-items:center;display:flex;justify-content:center;margin-left:8px;order:1}._67lb{left:-10px;position:relative}._67lc{left:-20px;position:relative}._2w0a{font-size:12px;font-weight:bold}._2w0b{font-size:12px}

#bootloader_p_2wJ{height:42px;}.bootloader_p_2wJ{display:block!important;}