<div class="container">
    <img class="logo" src="img/logo.png"/>
    <form action="http://localhost:8080/passwords/guess">
        <input type="text" id="password"/>
        <button  class="btn btn-default" id="guess">Guess</button>
    </form>
    <div id="guessStatus"></div>
    <div id="foundPasswords"></div>
</div>