._48_c ._48_d{display:block;position:relative}._48_c ._48_d:after{border:1px solid #ebedf0;bottom:0;content:'';left:0;position:absolute;right:0;top:0}._3if6 ._3if7{display:block;position:relative}._3if7{border:1px solid #ebedf0;box-sizing:border-box}._504m{padding:8px;text-overflow:ellipsis}._1nmb{align-items:center;display:flex;flex-direction:row;padding-bottom:2px}._1nmm{padding-left:8px}._5unf{background-color:#f5f6f7;border-top:1px solid #ebedf0;padding:8px}._1u1v{min-height:44px;position:relative}._1q3u{left:50%;margin-left:-12px;margin-top:-12px;position:absolute;top:50%;z-index:30}._y-,._48_e{font-size:12px;line-height:16px}._ze{font-size:11px;line-height:15px}._y-{color:#90949c}._2j1-{color:#fa3e3e}._arx{color:#fff}._3hdh{text-transform:uppercase}._2tqg{color:#3578e5}._3crf{text-decoration:line-through}._1xwp{white-space:pre-wrap}._7kg{display:block}._53sm{width:100%}._1sej{width:25%}._4wa5{text-align:right}._1c9i{text-align:left}._2tqf{text-align:center}hr._2y6g{border-color:#e5e5e5}._1c9j{display:inline-block}._1c9p{vertical-align:top}._2y6f{font-size:initial}label._2y6i{border:1px solid #d3d6db;color:#1d2129;display:block;font-family:Helvetica, Arial, sans-serif;font-size:12px;height:80px;padding:0 8px}._2y6i._58ak{padding:8px 8px}._2y6i ._58an{height:62px}._7ph{font-weight:normal}label._1u1w{font-weight:inherit}._2t26{font-weight:normal;padding-left:20px}._2t27{padding:0 10px;position:relative}._2t28:before{background:#d3d6db;bottom:3px;content:"";height:20px;left:0;position:absolute;top:-1px;width:1px}
._23n-{position:relative}
._32rk{position:absolute}._32rk._32rg{left:0}._32rk._32rh{right:0}._32rk._1cy5{left:50%;transform:translateX(-50%)}._32rk._32ri{top:0}._32rk._32rj{bottom:0}._32rk._1cy6{top:50%;transform:translateY(-50%)}
._3fv0{visibility:hidden}._3fv1{visibility:visible}

.fan_status_inactive{background-color:#fffccc;color:#666;margin:0;padding:0 0 0 3px;line-height:18px}
._41e0{padding:12px}._41e3{margin-top:2px}._39y5{height:22px;text-align:center;width:188px}
._4liw{background:#f2f2f2;overflow:hidden;padding:70px 40px;position:relative}._1szc,._4lix{margin:0 auto}._1szd{margin:8px auto 12px}._4lix{max-width:200px;position:relative}._aym{background:#000;background:rgba(0, 0, 0, .5);border-bottom:solid 1px rgba(0,0,0,.5);border-top:solid 1px rgba(0,0,0,.5);color:#fff;left:0;padding:11px 12px 11px 32px;position:absolute;right:0;text-align:left;text-shadow:0 1px 0 rgba(0,0,0,.25);top:0}._a63{left:11px;position:absolute;top:12px}
._4on5{position:relative}._290-{height:100%;pointer-events:none;position:absolute;top:0;width:100%}._4on8{opacity:.3}._4on5 ._3mk2{cursor:default}a ._4on5 ._3mk2{cursor:auto}._4on7{cursor:move;position:absolute}._3dfy{left:0;position:absolute;right:0;text-align:center;top:20px;z-index:1}._6aza{left:0;position:absolute;right:0;text-align:center;top:40%;z-index:1}._3dfz{display:none}._3df-{background:rgba(0, 0, 0, .5);border:1px solid #fff;border-color:rgba(255, 255, 255, .8);border-radius:3px;box-shadow:0 0 2px rgba(255, 255, 255, .5);color:#fff;display:inline-block;font-weight:700;padding:6px 12px}._3df_{margin-bottom:-1px}
._1k3v{box-shadow:0 0 2px rgba(255, 255, 255, .5);overflow:hidden;position:relative}._1k3w{position:absolute}._1_fc{height:100%;pointer-events:none;position:absolute;width:100%}._3np9{border-radius:50%}
._39_n{color:#1d2129}
._2orx{overflow:hidden;position:relative}._2oru{position:absolute;transition:opacity .75s}._2orw{background-color:#dadde1;height:100%}._6ld6{background-color:#ebedf0;height:100%;padding-top:99px;text-align:center}._2orv{opacity:.3}._1tg{background:linear-gradient(rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, .5) 100%);bottom:0;min-height:40px;pointer-events:none;position:absolute;width:100%;z-index:1}._1th{display:inline-block;float:right;padding:8px;pointer-events:auto}
._5mb0{position:absolute;text-align:center;top:50%;transform:translateY(-50%);width:100%}
._k{z-index:100}
._4mnv{border-width:2px;display:flex;flex-direction:column;justify-content:center;position:relative}._4mns{display:inline-block}._4mnw{display:flex}._ric,._4mnq{background-color:#ebedf0;border:2px solid #fff;border-radius:50%;overflow:hidden}._4wh8 ._4mnq{position:relative;z-index:1}._34n6{align-items:center;background-color:#ebedf0;color:#8d949e;display:flex;justify-content:center}._40vg{padding:0 5px;position:relative;z-index:2}._ric{position:relative}._ric ._4mnq{background:transparent;border:none;position:absolute;top:0}._ric ._4mnq._34n6{position:relative}._ric ._34n6 ._40vg{color:#fff}._ric ._34n6::after{background-color:#000;bottom:0;content:'';display:block;left:0;opacity:.4;position:absolute;right:0;top:0}
._4kft{font-size:14px;text-align:center}
._50zm{overflow:hidden;position:relative}._50zn{overflow:visible;position:absolute}._9bp ._50zn{clear:both}._3el6{display:inline-block;vertical-align:top}._9bp ._3el8{float:left}._9bo ._3el8{display:table}._50z1,._50z2{cursor:pointer;position:absolute;top:50%}._50z1{left:0}._50z2{right:0}._9bo ._50z1{left:50%;top:0}._9bo ._50z2{bottom:0;left:50%;top:auto}._3jay{display:table;list-style:none}._3jaz{margin:0 auto}._3jaw{cursor:pointer;display:inline-block;margin-left:5px}._3jaw:first-child{margin-left:0}._3jav{background-color:#bec3c9;border-radius:50%;display:inline-block;height:10px;margin:5px;width:10px}._3jav._3el7{background-color:#3578e5}
._hoc{box-sizing:border-box;padding:12px;z-index:200}._hoc._hoc._hoc,._hoc._hoc._hoc::before{border-top:0;border-top-left-radius:0;border-top-right-radius:0}._cvm{float:right}._cvm a,._cvm button{box-sizing:border-box;width:284px}._wg4{margin-right:12px}
._4k3g{background-color:#fff;border:1px solid #ebedf0;border-radius:13px;margin:12px 1px 2px;padding:12px}._4x3i{background-color:#ecf3ff;border-radius:25px;color:#4267b2;font-size:14px;font-weight:bold;line-height:19px;padding:9px 0;text-align:center}a._2y3b:hover{text-decoration:none}._472u{margin-top:8px}._472v{background-color:rgba(0, 0, 0, .05);border-radius:25px;height:12px;margin:4px 0;overflow:hidden;position:relative}._472w{background-color:#8d949e;border-radius:25px;bottom:0;left:0;position:absolute;top:0}._472x._472w{background-color:#3578e5}._6pzi._472w{background-color:#00a400}._6pzj._472w{background-color:#fa383e}._4x3i:hover{background-color:#aac9ff}._472u._4x3i._42qj{background-color:rgba(0, 0, 0, .05);color:rgba(0, 0, 0, .4)}._4x3i._42qj._42ql{background-color:#8d949e;color:#fff}._2y3c{border-top:#DADDE1 1px solid;margin-top:12px;padding-top:12px}._2y3d{vertical-align:bottom}._2y3e{color:#606770;vertical-align:middle}._2y3f{margin-left:4px;vertical-align:middle}._2y3g{color:#606770;font-size:12px;margin-top:8px}._4k3k{padding:50px 36px}._4k3l{font-size:20px;margin:20px 0 12px 0}._4k3j ._3el6{width:345px}._4k3j ._50zm{border:.2px solid #fff}._4k3m{padding-bottom:36px}._3-wz{height:52px;overflow:hidden;transform:translateY(-50%);z-index:10}._1iqo{width:251px}._3_ad{font-size:14px;font-weight:bold;line-height:20px}
._4etw{white-space:pre-wrap}._1tcr{margin:0}._4a6u{display:none !important}
._3dtr{display:block;height:100%;left:0;opacity:0;overflow:hidden;pointer-events:none;position:absolute;top:0;width:100%;z-index:-1}
._4m35{vertical-align:bottom}._4m37{vertical-align:middle}._4m39{vertical-align:top}
.sp_oN5e--v63Qt{background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/dKDHzJM7SP3.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_oN5e--v63Qt.sx_9799df{width:14px;background-position:-17px -550px}.sp_oN5e--v63Qt.sx_df38e0{width:12px;height:12px;background-position:-32px -550px}.sp_oN5e--v63Qt.sx_12b678{background-position:-21px -345px}.sp_oN5e--v63Qt.sx_ad8d2d{background-position:-38px -345px}.sp_oN5e--v63Qt.sx_ff0e30{width:20px;height:20px;background-position:0 -114px}.sp_oN5e--v63Qt.sx_58bc3b{background-position:0 -363px}.sp_oN5e--v63Qt.sx_e4fad2{background-position:-17px -363px}.sp_oN5e--v63Qt.sx_fcbf58{width:20px;height:20px;background-position:-21px -114px}.sp_oN5e--v63Qt.sx_100e6c{background-position:-34px -363px}.sp_oN5e--v63Qt.sx_32c0bd{width:20px;height:20px;background-position:-42px -114px}.sp_oN5e--v63Qt.sx_45d2c9{background-position:0 -380px}.sp_oN5e--v63Qt.sx_a8770e{background-position:-17px -380px}.sp_oN5e--v63Qt.sx_87c5f9{width:20px;height:20px;background-position:0 -135px}.sp_oN5e--v63Qt.sx_ee7b81{background-position:-34px -380px}.sp_oN5e--v63Qt.sx_3420da{background-position:0 -397px}.sp_oN5e--v63Qt.sx_cb9ce6{background-position:-17px -397px}.sp_oN5e--v63Qt.sx_cc45e2{width:12px;height:12px;background-position:-45px -550px}.sp_oN5e--v63Qt.sx_36ad3b{background-position:-34px -397px}.sp_oN5e--v63Qt.sx_31f5fe{width:20px;height:20px;background-position:-21px -135px}.sp_oN5e--v63Qt.sx_2a0174{background-position:0 -414px}.sp_oN5e--v63Qt.sx_8d1d88{width:20px;height:20px;background-position:-42px -135px}.sp_oN5e--v63Qt.sx_e3b39c{background-position:-17px -414px}.sp_oN5e--v63Qt.sx_766f8a{background-position:-34px -414px}.sp_oN5e--v63Qt.sx_b855ca{width:20px;height:20px;background-position:0 -156px}.sp_oN5e--v63Qt.sx_278dfb{background-position:0 -431px}.sp_oN5e--v63Qt.sx_0f0ad5{background-position:-17px -431px}.sp_oN5e--v63Qt.sx_6fd85e{width:20px;height:20px;background-position:-21px -156px}.sp_oN5e--v63Qt.sx_338795{background-position:-34px -431px}.sp_oN5e--v63Qt.sx_07ed34{background-position:0 -448px}.sp_oN5e--v63Qt.sx_8b2e67{width:20px;height:20px;background-position:-42px -156px}.sp_oN5e--v63Qt.sx_0c1be8{background-position:-17px -448px}.sp_oN5e--v63Qt.sx_81453c{width:20px;height:20px;background-position:0 -177px}.sp_oN5e--v63Qt.sx_9deab2{background-position:-34px -448px}.sp_oN5e--v63Qt.sx_dcca07{width:20px;height:20px;background-position:-21px -177px}.sp_oN5e--v63Qt.sx_071a70{background-position:0 -465px}.sp_oN5e--v63Qt.sx_67296a{width:20px;height:20px;background-position:-42px -177px}.sp_oN5e--v63Qt.sx_1dacff{width:20px;height:20px;background-position:0 -198px}.sp_oN5e--v63Qt.sx_6a49cd{background-position:-17px -465px}.sp_oN5e--v63Qt.sx_23951a{width:20px;height:20px;background-position:-21px -198px}.sp_oN5e--v63Qt.sx_e23a38{background-position:-34px -465px}.sp_oN5e--v63Qt.sx_cba828{width:20px;height:20px;background-position:-42px -198px}.sp_oN5e--v63Qt.sx_1e8972{background-position:0 -482px}.sp_oN5e--v63Qt.sx_71ef18{width:20px;height:20px;background-position:0 -219px}.sp_oN5e--v63Qt.sx_30a8ae{width:20px;height:20px;background-position:-21px -219px}.sp_oN5e--v63Qt.sx_8598a6{width:20px;height:20px;background-position:-42px -219px}.sp_oN5e--v63Qt.sx_98783f{width:20px;height:20px;background-position:0 -240px}.sp_oN5e--v63Qt.sx_4be553{width:20px;height:20px;background-position:-21px -240px}.sp_oN5e--v63Qt.sx_475fc0{background-position:-17px -482px}.sp_oN5e--v63Qt.sx_84d537{width:20px;height:20px;background-position:-42px -240px}.sp_oN5e--v63Qt.sx_facb54{background-position:-34px -482px}.sp_oN5e--v63Qt.sx_a0c54e{width:20px;height:20px;background-position:0 -261px}.sp_oN5e--v63Qt.sx_59e443{background-position:0 -499px}.sp_oN5e--v63Qt.sx_eea0b1{width:20px;height:20px;background-position:-21px -261px}.sp_oN5e--v63Qt.sx_c7958a{background-position:-17px -499px}.sp_oN5e--v63Qt.sx_611e1c{width:20px;height:20px;background-position:-42px -261px}.sp_oN5e--v63Qt.sx_3d4ad0{background-position:-34px -499px}.sp_oN5e--v63Qt.sx_2b3746{width:20px;height:20px;background-position:0 -282px}.sp_oN5e--v63Qt.sx_6de8fb{background-position:0 -516px}.sp_oN5e--v63Qt.sx_a7bea9{width:20px;height:20px;background-position:-21px -282px}.sp_oN5e--v63Qt.sx_85b284{background-position:-17px -516px}.sp_oN5e--v63Qt.sx_08329f{background-position:-34px -516px}.sp_oN5e--v63Qt.sx_19b529{width:20px;height:20px;background-position:-42px -282px}.sp_oN5e--v63Qt.sx_d79360{width:12px;height:12px;background-position:0 -567px}.sp_oN5e--v63Qt.sx_17c41f{width:20px;height:20px;background-position:0 -303px}.sp_oN5e--v63Qt.sx_557bb5{width:20px;height:20px;background-position:-21px -303px}.sp_oN5e--v63Qt.sx_3a722a{background-position:0 -533px}.sp_oN5e--v63Qt.sx_b58941{width:20px;height:20px;background-position:-42px -303px}.sp_oN5e--v63Qt.sx_51462c{background-position:-17px -533px}.sp_oN5e--v63Qt.sx_b43888{width:20px;height:20px;background-position:0 -324px}.sp_oN5e--v63Qt.sx_43a31e{background-position:-34px -533px}.sp_oN5e--v63Qt.sx_bcb891{background-position:0 -550px}.sp_oN5e--v63Qt.sx_0106c0{width:20px;height:20px;background-position:-21px -324px}.sp_oN5e--v63Qt.sx_9d1af9{width:62px;height:62px;background-position:0 0}.sp_oN5e--v63Qt.sx_4443e1{width:50px;height:50px;background-position:0 -63px}.sp_oN5e--v63Qt.sx_ae0689{width:9px;height:9px;background-position:-48px -328px}.sp_oN5e--v63Qt.sx_342244{width:9px;height:9px;background-position:-6px -349px}

#bootloader_AuJTp{height:42px;}.bootloader_AuJTp{display:block!important;}